.iconfont{
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
}

.show-arrow-popover{
  .el-popper__arrow {
    display: block;
  }
}

.page__{
  &search{
    padding: 12px;
    background-color: #fff;
    margin-bottom: 12px;
    box-shadow: 0 1px #e6e8eb;
    &-content{
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      >div{
        flex-grow: 0;
        width: auto;
      }
      .el-date-editor{
        width: 200px;
      }
      .el-date-editor--datetimerange{
        width: 300px;
      }
    }
    &-btns{
      flex-shrink: 0;
      display: flex;
    }
    &-group{
      display: flex;
      >div:first-child{
        .el-input__wrapper, .el-select__wrapper{
          border-radius: 4px 0 0 4px;
        }
      }
      >div:last-child{
        .el-input__wrapper, .el-select__wrapper{
          border-radius: 0 4px 4px 0;
        }
      }
      >.el-date-editor:first-child.el-input__wrapper{
        border-radius: 4px 0 0 4px;
      }
      >.el-date-editor:last-child.el-input__wrapper{
        border-radius: 0 4px 4px 0;
      }
      .el-input__wrapper, .el-select__wrapper{
        border-radius: 0;
        margin-right: -1px;
        &:hover, &.is-focus, &.is-focused, &.is-active{
          z-index: 2;
        }
      }
    }
    .filter-section {
      display: flex;
      flex-wrap: wrap;
      font-size: 12px;
      gap: 8px;
      padding-top: 8px;
    }
    .tag-view{
      display: inline-flex;
      align-items: center;
      box-sizing: border-box;
      line-height: 16px;
      padding: 3px 4px 3px 8px;
      border: 1px solid rgba(0, 91, 245, .6);
      border-radius: 4px;
      background: rgba(0, 91, 245, .06);
      color: #33363c;
      label{
        cursor: pointer;
      }
      i{
        border-radius: 50%;
        color: #a6abb4;
        cursor: pointer;
        margin-left: 2px;
        &:hover{
          background: rgba(11, 16, 25, .06);
        }
      }
    }
    .close-all{
      width: 24px;
      height: 24px;
      line-height: 24px;
      color: #888c94;
      cursor: pointer;
      &:hover{
        background-color: #f0f2f5;
      }
    }
    &-filter-popover{
      &.el-popper{
        font-size: 12px;
        padding: 0 !important;
        width: auto !important;
      }
      
      .filter-popover{
        padding: 12px;
        display: grid;
        gap: 16px;
        overflow-y: auto;
      }
      .footer-btn {
        padding: 8px 12px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        box-shadow: 0 1px 0 0 #e6e8eb inset;
      }
      .popover-body{
        &.cols-1{
          width: 243px !important;
        }
        &.cols-2{
          width: 469px !important;
        } 
        &.cols-3{
          width: 695px !important;
        }
        label{
          line-height: 20px;
        }
      }
    }
  }

  &main{
    position: relative;
    background-color: #fff;
    border-radius: 4px 4px 0 0;
    border-bottom: 0;
    margin: 0 12px;
    flex: auto;
    overflow: hidden;
    .el-table, .el-table__inner-wrapper{
      border-radius: inherit;
      height: 100%;
    }
  }
  &operate{
    height: 40px;
    display: flex;
    flex-shrink: 0;
    margin: 0 12px;
    justify-content: space-between;
  }
  &table-btn{
    display: flex;
    font-size: 16px;
    align-items: center;
    margin-bottom: 8px;
    .iconfont{
      width: 32px;
      height: 32px;
      cursor: pointer;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #55585f;
      &:hover, &.active{
        background: rgba(11, 16, 25, .06);
      }

    }
  }
  &pagination{
    flex-shrink: 0;
    height: 50px;
    margin: 0 12px 12px 12px;
    padding: 0 12px;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: var(--border);
    border-top: 0;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    li.number{
      padding: 0;
      background: #FFF;
      font-size: 12px;
      min-width: 32px;
      height: 32px;
      line-height: 32px;
      cursor: pointer;
      box-sizing: border-box;
      text-align: center;
      margin: 0 4px 0 0;
      color: #33363C;
      &:hover{
        color: #005BF5;
      }
      &.is-active{
        color: #005BF5;
        cursor: default;
        background: rgba(0, 91, 245, .1);
        border-radius: 4px;
        font-weight: normal;
      }
    }
  }
}
.el-popover{
  &.global-pop{
    line-height: 18px;
    min-width: auto;
    text-align: left;
    border-radius: 4px;
    border: 1px solid #e6e8eb;
    max-width: 480px;
    .tag-item {
      line-height: 16px;
      padding: 8px 12px;
    }
  }
  .footer-end{
    border-top: var(--border);
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    flex-shrink: 0;
  }
  .footer-between{
    border-top: var(--border);
    display: flex;
    justify-content: space-between;
    padding: 12px;
    flex-shrink: 0;
    .footer-right{
      display: flex;
    }
  }
}
.square-btn{
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid--1{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.grid--2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid--3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid--4{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.grid--5{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.grid--6{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.span--1{
  grid-column: span 1;
}
.span--2{
  grid-column: span 2;
}
.span--3{
  grid-column: span 3;
}
.span--4{
  grid-column: span 4;
}
.span--5{
  grid-column: span 5;
}
.span--6{
  grid-column: span 6;
}
.ma-{
  &0{
    margin: 0 !important;
  }
  &1{
    margin: 4px !important;
  }
  &2{
    margin: 8px !important;
  }
  &3{
    margin: 12px !important;
  }
  &4{
    margin: 16px !important;
  }
}
.mx-{
  &0{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  &1{
    margin-left: 4px !important;
    margin-right: 4px !important;
  }
  &2{
    margin-left: 8px !important;
    margin-right: 8px !important;
  }
  &3{
    margin-left: 12px !important;
    margin-right: 12px !important;
  }
  &4{
    margin-left: 16px !important;
    margin-right: 16px !important;
  }
}
.ml-{
  &0{
    margin-left: 0 !important;
  }
  &1{
    margin-left: 4px !important;
  }
  &2{
    margin-left: 8px !important;
  }
  &3{
    margin-left: 12px !important;
  }
  &4{
    margin-left: 16px !important;
  }
}
.mr-{
  &0{
    margin-right: 0 !important;
  }
  &1{
    margin-right: 4px !important;
  }
  &2{
    margin-right: 8px !important;
  }
  &3{
    margin-right: 12px !important;
  }
  &4{
    margin-right: 16px !important;
  }
}
.my-{
  &0{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  &1{
    margin-top: 4px !important;
    margin-bottom: 4px !important;
  }
  &2{
    margin-top: 8px !important;
    margin-bottom: 8px !important;
  }
  &3{
    margin-top: 12px !important;
    margin-bottom: 12px !important;
  }
  &4{
    margin-top: 16px !important;
    margin-bottom: 16px !important;
  }
}
.mt-{
  &0{
    margin-top: 0 !important;
  }
  &1{
    margin-top: 4px !important;
  }
  &2{
    margin-top: 8px !important;
  }
  &3{
    margin-top: 12px !important;
  }
  &4{
    margin-top: 16px !important;
  }
}
.mb-{
  &0{
    margin-bottom: 0 !important;
  }
  &1{
    margin-bottom: 4px !important;
  }
  &2{
    margin-bottom: 8px !important;
  }
  &3{
    margin-bottom: 12px !important;
  }
  &4{
    margin-bottom: 16px !important;
  }
}

.pa-{
  &0{
    padding: 0 !important;
  }
  &1{
    padding: 4px !important;
  }
  &2{
    padding: 8px !important;
  }
  &3{
    padding: 12px !important;
  }
  &4{
    padding: 16px !important;
  }
}
.px-{
  &0{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  &1{
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
  &2{
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
  &3{
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
  &4{
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}
.pl-{
  &0{
    padding-left: 0 !important;
  }
  &1{
    padding-left: 4px !important;
  }
  &2{
    padding-left: 8px !important;
  }
  &3{
    padding-left: 12px !important;
  }
  &4{
    padding-left: 16px !important;
  }
}
.pr-{
  &0{
    padding-right: 0 !important;
  }
  &1{
    padding-right: 4px !important;
  }
  &2{
    padding-right: 8px !important;
  }
  &3{
    padding-right: 12px !important;
  }
  &4{
    padding-right: 16px !important;
  }
}
.py-{
  &0{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  &1{
    padding-top: 4px !important;
    padding-bottom: 4px !important;
  }
  &2{
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
  &3{
    padding-top: 12px !important;
    padding-bottom: 12px !important;
  }
  &4{
    padding-top: 16px !important;
    padding-bottom: 16px !important;
  }
}
.pt-{
  &0{
    padding-top: 0 !important;
  }
  &1{
    padding-top: 4px !important;
  }
  &2{
    padding-top: 8px !important;
  }
  &3{
    padding-top: 12px !important;
  }
  &4{
    padding-top: 16px !important;
  }
}
.pb-{
  &0{
    padding-bottom: 0 !important;
  }
  &1{
    padding-bottom: 4px !important;
  }
  &2{
    padding-bottom: 8px !important;
  }
  &3{
    padding-bottom: 12px !important;
  }
  &4{
    padding-bottom: 16px !important;
  }
}
.flex{
  display: flex;
  &--middle{
    display: flex;
    align-items: center;
  }
  &--center{
    display: flex;
    justify-content: center;
  }
  &--between{
    display: flex;
    justify-content: space-between;
  }
  &--end{
    display: flex;
    justify-content: flex-end;
  }
}