.page__{
  &search{
    padding: 12px 16px;
    background-color: #fff;
    margin-bottom: 16px;
    display: flex;
    &-content{
      flex: auto;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-row-gap: 8px;
      grid-column-gap: 4px;
    }
    &-btns{
      flex-shrink: 0;
      display: flex;
      margin-left: 16px;
    }
    &-item{
      display: flex;
      align-items: center;
      label{
        width: 50px;
        text-align: right;
        margin-right: 4px;
        flex-shrink: 0;
      }
    }
  }
  &main{
    background-color: #fff;
    margin: 0 16px;
    flex: auto;
    overflow: hidden;
    .el-table, .el-table__inner-wrapper{
      height: 100%;
    }
  }
  &operate{
    height: 40px;
    display: flex;
    flex-shrink: 0;
    margin: 0 16px;
  }
  &pagination{
    flex-shrink: 0;
    height: 50px;
    padding: 0 16px;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 16px 16px 16px;
  }
}
.square-btn{
  padding: 8px 9px !important;
}