* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: Verdana, PingFangSC-Regular, PingFang SC, -apple-system, BlinkMacSystemFont, Segoe UI, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  color: #55585F;
  background: #fff;
  font-size: 12px;
  line-height: unset !important;
  --el-color-primary: #005BF5;
  --el-color-primary-light-5: #004CCC;
  --el-color-primary-light-3: #004CCC;
  --el-color-primary-light-7: #004CCC;
  --el-color-primary-light-8: #fff;
  --el-color-primary-light-9: #fff;
  --el-color-primary-dark-2: #0748B8;
  --bg-color: #f0f2f5;
  --border: 1px solid #D9DBDE;
  --el-text-color-regular: #333;
  --el-text-color-primary: #000;
  --el-font-size-base: 12px;
  --el-font-size-small: 12px;
  /* --el-transition-duration: 0; */
  --el-border-color: #D9DBDE;
  --el-menu-icon-width: 18px;
}

#app,
body,
html {
  height: 100%;
}

div.el-table {
  font-size: 12px;
  --el-table-border-color: #D9DBDE;
  /* --el-table-header-bg-color: #f2f5fa; */
  --el-table-header-text-color: #000;
}

div.el-table .el-table__cell {
  padding: 4px 0;
}
.remove-border-table .el-table__cell{
  border-right: 0;
}
.el-table.is-scrolling-left.remove-border-table .el-table-fixed-column--left.is-last-column.el-table__cell{
  border-right: 0;
}
.remove-border-table .el-table__header .cell{
  border-right: var(--border);
}
.remove-border-table .el-table__header .table-checkbox-cell .cell{
  border-right: 0;
  text-overflow: clip;
}
.remove-border-table .el-table__header th:last-child .cell{
  border-right: 0;
}
.remove-border-table .el-table__inner-wrapper:before{
  height: 0;
}
.remove-border-table .el-table__inner-wrapper:after{
  height: 0;
}
.remove-border-table:before{
  width: 0;
}
.remove-border-table:after{
  width: 0;
}
.remove-border-table .el-table__border-left-patch{
  display: none;
}

div.el-table .cell {
  padding: 0 8px;
}

div.el-select__wrapper {
  font-size: 12px;
}
div.el-input__wrapper{
  padding: 0 10px;
}
div.el-input__wrapper,
div.el-select__wrapper {
  box-shadow: unset !important;
  border: var(--border);
}

div.el-input__wrapper:hover,
div.el-select__wrapper:hover {
  border-color: #888C94;
}

div.el-input__wrapper.is-focus,
div.el-input__wrapper.is-active,
div.el-select__wrapper.is-focused {
  border-color: var(--el-color-primary);
}
div.el-date-editor{
  --el-date-editor-daterange-width: 100%;
}

div.el-date-editor .el-range-input{
  width: 49%;
}
span.el-radio-button__inner{
  padding: 9px 12px;
}
input.el-radio-button__original-radio:checked+.el-radio-button__inner {
  color: var(--el-color-primary);
  background-color: #fff;
  border-color: var(--el-color-primary);
}

div.el-pagination {
  --el-pagination-font-size: 12px;
}

button.el-button+.el-button {
  margin-left: 8px;
}

button.el-button {
  padding: 8px 12px;
}
button.el-button--small {
  padding: 6px 8px;
}

.el-popper__arrow {
  display: none;
}
div.el-popover{
  --el-popover-padding: 0;
}

.el-dialog {
  --el-dialog-padding-primary: 0;
  margin: 50px auto 0 !important;
  max-height: calc(100% - 100px);
  display: flex;
  flex-direction: column;

  .el-dialog__header {
    padding: 0;
    margin: 0;
    flex-shrink: 0;
    .el-dialog__title {
      line-height: 22px;
      font-size: 16px;
      color: #0b1019;
      font-weight: 600;
    }
  }

  .el-dialog__body{
    padding: 16px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
}
.el-drawer__header{
  padding: 0;
  margin: 0;
  flex-shrink: 0;
}
.el-drawer{
  --el-drawer-padding-primary: 16px;
}
.el-drawer__footer, .el-dialog__footer {
  flex-shrink: 0;
  padding: 12px 16px;
  box-shadow: 0 -1px #e6e8eb;
  z-index: 2;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-corner {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .2);
  border-radius: 5px;
  border: 1px solid #f1f1f1;
  transition: background-color .3s;
}

::-webkit-scrollbar-track {
  background: #f8f8f8;
}